@font-face {
    font-family: 'CONEX';
    src: url('../../fonts/conex-font.TTF') format("truetype");
}

.mainDiv{
    background-color: black;
    width: 100%;    
    max-width: 100vw;    
    
    min-height: 100vh;

    margin: 0;

}